main {
  display: flex;
  place-items: center;
  align-items: center;
  font-family: system-ui;
  max-width: 800px;
  margin: 0 auto;
  gap: 30px;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

section img {
  max-width: 400px;
  height: auto;
}